#skills span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
    line-height: 1;
}
progress {
    background-color: #f3f3f3;
    border: 0;
    height: 2.5em;
    width: 100%;
}
progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}
progress::-webkit-progress-value {
    background-color: #26a69a;
}
progress::-moz-progress-bar {
    background-color: #329ad1;
}

 .hoverBG {
     background-color: rgba(0,0,0,0.1);
 }

 .coming-soon {
     opacity: 0.3;
 }

 .contact-form {
     margin-left: 25%;
     margin-right:25%;
 }

 .header-arrow {
     margin-top: 9%;
 }

#index-banner {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 60vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .go-top {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  bottom: -40px;
  right: 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #404040;
  color: #FFFFFF;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

  .go-top.show { bottom: 20px; }

  .go-top:hover {
  background-color: #5DBA9D;
  color: #FFFFFF;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
 .contact-form {
     margin: 0;
     width: 90%;
     margin-left: 5%;
     margin-right: 4%;
 }
 h1.header {
    font-size: 3rem;
}
.header-text {
    margin-top: 9%;
}
.header-arrow {
    margin-top: 10%;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
